.automatic-slider li {
	overflow: hidden;
}
img {
	width: 100%;
	height: auto;
}
h1{
	font-size: 200%;
}
.top {
	position: relative;
}

.top-text {
	z-index: 200;
	top: 0;
	position: absolute;
	padding-left: 30%;
	color: #fff;
	font-size: 200%;
}
h4{
	text-align: center;
	font-size: 100%;
}
.titlestax {
	padding: 0;
	margin: 0;
	background-color: ;
	color: ;
	text-align: center!important;

}
h2{
	font-size: 200%;
}
